.description-container {
  margin: 0 auto;
  width: 86%;
}

/* info container styling  */

.info-container {
  display: flex;
  flex-direction: column;
}

.info-container p {
  margin-top: 20px;
}

.company-p {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1.84615px;
  text-transform: uppercase;
  color: var(--color-primary-orange);
}

.model-p {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: var(--color-neutral-black);
}
.text-p {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-neutral-dark-gray-blue);
}

/* price container styling  */

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.price-container-left {
  display: flex;
  align-items: center;
}

.atm {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: var(--color-neutral-black);
}

.discount {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-primary-orange);
  background-color: var(--color-primary-paleorange);
  height: 27px;
  width: 51px;
  border-radius: 6px;
  margin-left: 16px;
}

.previous {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-decoration-line: line-through;
  color: #b6bcc8;
}

/* add container styling  */

.add-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 24px;
}

.amount {
  height: 56px;
  background-color: var(--color-neutral-light-gray-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
}

.amount p {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #1d2026;
}

.btn-cart {
  height: 56px;
  background-color: var(--color-primary-orange);
  border-radius: 10px;
  color: var(--color-neutral-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  box-shadow: 0px 20px 50px -20px #FF7E1B;
}

.btn-cart p {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: 1rem;
  color: var(--color-neutral-white);
}



/* desktop media queries  */

@media screen and (min-width: 700px) {
  .description-container {
    width: 40%;
    height: 47.33%;
  }

  .company-p {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2px;
  }
  
  .model-p {
    font-size: 44px;
    line-height: 48px;
  }
  .text-p {
    font-size: 16px;
    line-height: 26px;
  }

  .add-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .btn-cart {
    margin-top: 0;
    width: 61.123%;
  }

  .amount {
    width: 35%;
  }

  .previous {
    margin-top: 10px;
  }
  
}