.carussel-container {
    display: flex;
    flex-direction: column;
    width: 39.6%;
    height: 63%;
    margin-top: 10%;
}

.main-img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.carussel-container div {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    width: 100%;
}

.carussel-container div img {
    width: 19.714%;
    border-radius: 10px;
}